.spacer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: inherit;
    margin-top: 20px;
}
.spacer{
    width: 75%;
    background-color: #424242;
    height: 1px;
    border-radius: 2px;
}